<!-- As observed at: https://search.google.com/structured-data/testing-tool?hl=en#url=https%3A%2F%2Fserverfault.com%2Fquestions%2F339661%2Fwill-changing-nameservers-cause-down-time -->
<!-- See: http://cdn.skunkworks.ca.s3.amazonaws.com/temp-screenshots/Screen_Shot_2017-12-07_at_11.44.40_AM.png -->

<script type="application/ld+json">
	[{
		"@context":"http://schema.org/",
		"@type":"QAPage",
		"name": "{{ .Params.Title }}",
		"image": "{{ .Site.Params.imageurl | absURL }}",
		"description": "{{ .Site.Params.description }}",
		"primaryImageOfPage": {
			"@type": "ImageObject",
			"name": "{{ .Site.Params.imageurl | absURL }}"
		},
		"mainEntity": {
			"@type": "Question",
			"name": "{{ .Params.Title }}",
			"text": "{{ .Params.Title }}",
			"answerCount": 1,
			"dateCreated": "{{ .Params.Date | htmlEscape }}",
			"author": {
				"@type": "Person",
				"name": "Machu Picchu Expert"
			},
			"acceptedAnswer": {
				"@type": "Answer",
				"text": "{{ .Content | htmlEscape }}",
				"dateCreated": "{{ .Params.Date | htmlEscape }}",
				"url":"{{ .Permalink }}",
				"author": {
					"@type": "Person",
					"name": "Machu Picchu Expert"
				}
			}
		}
	}]
</script>
