{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-questions-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Content | truncate 160 }}" />
<meta property="og:title" content="{{.Title}}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Content | truncate 120 }}" />
<meta name="twitter:card" content="{{ .Content | truncate 120 }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ partial "schemas/schema_Global.html" . }}
{{ end }}


{{ define "main" }}
<div class="container pb-4 pt-4 pt-md-4 pb-md-4">
  <div class="row justify-content-start">
    <div class="col-xs-12 col-sm-12 col-md-9">
      <div class="service service-single">
        <h1 class="title">{{ .Params.Title }}</h1>
        <div class="wrapfooter">
            Question asked by {{ .Params.Poster  }}
            <div class="clearfix"></div>
        </div>
        <div class="content"><br /><b><h2>Answer from our Expert:</h2></b><br />{{ .Content }}</div><br /><br />
        <div class="row" style="display:block;">
          {{ partial "tagcloud.html" . }}
          {{ partial "comments.html" }}
          <br /><br />
        </div>
        <div class="row">
          <div class="col-lg-12 ">

            <h3>Other Questions asked by users</h3><br /><br />
          </div>

        </div>
        <div class="row">
          <div class="col-lg-12 ">
          <ul>
          {{ $questions := where (where .Site.RegularPages "Type" "questions") ".Params.featured" true }}
          {{ range (sort $questions ".Params.weight") }}

            {{ partial "teaser-question-title" (dict "context" . "questions" $questions)}}

          {{ end }}
          </ul>
        </div>
        </div>
      </div>
    </div>
    <div id = "sidebar" class="col-xs-12 col-sm-12 col-md-3  ">
      {{ partial "block-questions.html" . }}
      {{ partial "block-download-guide.html" . }}  
      {{ partial "block-blogs.html" . }}


    </div>
  </div>

</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}
