<style>
  .saveforlater{
    display: inline-block;
    vertical-align: middle;
    width:100%;

    padding:10px;
  }

  .saveforlater a{
    border:1px black solid;
    float:right;
    display: inline-block;
    text-transform:uppercase;
    color:white !important;
    padding:10px;
    margin:10x;    vertical-align: middle;
    text-decoration:none;
    background-color:#4fad43;
  }
  .saveforlater svg{
    width:30px;
  }
</style>
<div class = "saveforlater">

  <a target = "_blank" href="https://www.computerhope.com/issues/ch000858.htm" onClick="getOutboundLink('https://www.computerhope.com/issues/ch000858.htm')">

    <span>Save for Later - Learn How</span></a>

  </div>
